* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    background-color: rgb(226, 226, 226);
}

/* REUSABLES */
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-container {
    max-width: 90vw;
    display: flex;
    margin-bottom: 30px;
}
.input {
    min-width: 0px;
    width: 400px;
    font-size: 16px;
    padding: 18px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 15px;
}
.add-btn {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 18px;
    text-align: center; 
    background: rgb(149, 255, 145);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.add-btn:hover {
    background-color: rgb(22, 227, 22);
}
ul li {
    position: relative; /* needed for remove button positioning */
    width: 400px;
    max-width: 90vw;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 17px;
    user-select: none;
    list-style-type: none;
    background-color: rgb(84, 163, 248);
}
ul li:hover {
    opacity: 0.8;
}
.remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: inherit;
    font-size: inherit;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.remove:hover {
    background-color: red;
    color: white;
}